#body{
  -webkit-transition: background-color 2s ease-in-out;
  transition: background-color 2s ease-in-out;
  background-color:white;
}

#body.dark{
  background-color: black;
}

.ui-page{
  background-color: transparent;
}

#light {
  height:516px;
  width:344px;
  background-image: url("images/off.png");
  -webkit-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;
}
#light.on {
  background-image: url("images/on.png");
}
#switch {
  cursor:pointer;
  float:right;
  width: 200px;
  height: 200px;
}

#shadow{
  background-color: white;
}